@import url(reset.css);

.wrapper {margin: 0 auto; max-width: 996px;}
.clearfix::after {content: " "; display: table; clear: both;}
.header {background: #e8ebf1; padding: 33px 0;}
.logo-header {width: 148px; height: 37px; float: left; margin-right: 134px;}
.menu-top {float: right; margin-top: 10px;}
.menu-top li {display: inline-block; padding-left: 36px; line-height: 40px;}
.menu-top a {text-decoration: none; text-transform: uppercase; color: #000000; font-weight: bold; font-size: 13px; padding: 5px 5px;}
.menu-top a:hover {background: white; border-top: 4px solid #2aacc8;}
.contact-us {margin-top: 50px; text-transform: uppercase; font-weight: bold; font-size: 15px; color: black; margin-bottom: 25px; border-bottom: 1px solid #dfe1e5; padding-bottom: 20px;}
.wrap-text p {margin-bottom: 20px; font-size: 14px; color: black; line-height: 1.5;}
.email-span {color: #2aacc8;}
.wrap-text p:nth-child(2) {margin-bottom: 70px; font-size: 14px; color: black;}
.input-text {border: none; margin-bottom: 40px; color: black; font-size: 14px;}
.input-text:focus {outline: none;}
.contact-form-button {border-radius: 5px; background: #7adfea; padding: 15px 30px; color: black; font-size: 18px; text-transform: uppercase; font-weight: bold; border: none;}
.contact-form-button img {vertical-align: middle; margin-right: 10px;}
.wrap-text {float: left;}
.block-map {float: right; margin-right: 10px;}
.block-map .content-block {margin-bottom: 40px;}
.block-map .content-block h2 {font-size: 15px; color: black; text-transform: uppercase; font-weight: bold; margin: 20px 0;}
footer {height: 318px; background: #e8ebf1; clear: both;}
.footer-top {padding-top: 34px;}
.item-block  {float: left; margin-right: 58px;}
.about {width: 220px;}
.explore {width: 78px;}
.explore a {color: #363636;}
.browse {width: 78px;}
.contact {width: 141px;}
.connect-with-us {width: 186px; margin-right: 0;}
.connect-with-us a {display: inline-block;}
.connect-with-us a {padding-right: 6px; padding-bottom: 6px;}
.connect-with-us h2 {padding-left: 7px;}
.footer-top * h2 {font-size: 15px; font-weight: bold; text-transform: uppercase; padding-bottom: 16px;}
.footer-top * p {line-height: 1.4; font-size: 14px; color: #363636}
.footer-bottom {padding-top: 45px;}
.footer-bottom .left {float: left; width: 848px;}
.footer-bottom .left p {font-size: 13px; color: #363636; line-height: 1.5;}
    